html {
    font-size: 20px;
}

#document-listener {
    width: 400px;
    height: 120px;
    border: black 2px;
    padding-top: 3px;
    margin: 20px auto 20px;
    text-align: center;
}

#window-listener {
    width: 400px;
    height: 120px;
    border: black 2px;
    padding-top: 3px;
    margin: 20px auto 20px;
    text-align: center;
}

#set-even-tlistener {
    width: 200px;
    margin: auto;
}

#set-even-tlistener > button {
    display: inline-box;
    font-size: 0.8rem;
}

.box {
    width: 90%;
    height: 70%;
    margin: auto;
    border: solid 1px;
    padding: 30px;
    text-align: center;
    overflow: scroll;
}

span {
    color: black;
}

#fire {
    font-size: 2rem;
    color: black;
}

label {
    color: black;
}

#note {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#scroll-box {
    color: black;
    height: 150px;
    overflow: scroll;
}
